body {
  padding-top: 4.5em;
}

.menu .right a.button {
  margin-left: .5em !important;
}

.top.menu {
  border-bottom: 1px solid #55378d !important;
}

.top.menu .item:before,
.top.menu .item:after {
  display: none !important;
}

.top.menu .item {
  border: 0 !important;
}

.ui.inverted.violet.menu,
.ui.inverted.violet.segment {
  background-color: #6441a5 !important;
}

.video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-bottom: 53.75%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#thoanny-twitch-events {
  /* background: #6441a5; */
  padding: 0;
  height: 100%;
  position: relative;
  display:flex;
  align-items: center;
  color: #fff;
  line-height: 1.4;
}

#thoanny-twitch-events img {
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  /* opacity: .25; */
  z-index: 9;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

#thoanny-twitch-events .overlay {
  display: block;
  background: #6441a5;
  opacity: .75;
  height:100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 11;
}

#thoanny-twitch-events #next-event.no-event .overlay {
  opacity: 1;
}

#thoanny-twitch-events #next-event {
  width: 100%;
}

#thoanny-twitch-events .event {
  position: relative;
  z-index: 99;
  text-align:center;
  width: 100%;
  /* padding: .5em .75em; */
  padding: 2em 1em;
}

#thoanny-twitch-events h5,
#thoanny-twitch-events h4,
#thoanny-twitch-events h3 {
  margin: .5em 0;
  text-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

#thoanny-twitch-events h5 {
  font-style: italic;
  font-size: 1.2em;
  font-weight: normal;
}

#thoanny-twitch-events h4 {
  font-size: 1.6em;
}

#thoanny-twitch-events h3 {
  font-size: .9em;
  letter-spacing: .015em;
  text-transform: uppercase;
  background: #93c045;
  padding: .25em .5em;
  display: inline-block;
}

#header {
  padding-top: 13em !important;
  padding-bottom: 13em !important;
  background-image: url('../img/background-violet.png');
  background-attachment: fixed;
}

#thanks {
  background: #93c045;
  padding-top: 7.5em !important;
  padding-bottom: 7.5em !important;
  background-image: url('../img/background-green.png');
  background-attachment: fixed;
}

p {
  font-size: 1.33em;
}

.ui.white.label {
  background: #fff;
  margin-bottom: .5em;
}

.ui.green.button {
  background: #93c045;
}

.ui.green.button:hover {
  background: #81aa39;
}

.ui.green.button:focus,
.ui.green.button:active {
  background: #6d9031;
}

i.green.icon {
  color:#93c045 !important;
}

.ui.header i.facebook.f.icon {
  color: #3b5998;
}

.max360px {
  max-width: 360px;
  margin: auto;
}

.mb5em {
  margin-bottom: 5em !important;
}

.mt5em {
  margin-top: 5em !important;
}

.anchor {
  width: 100%;
  height: 1px;
}


@media screen and (max-width: 991px) {
  .ui.top.menu a.item:not(.logo) {
    display: none;
  }
}
